body {
    background-image: url(sliders/slider01.jpg);
}

@keyframes slider {
    0% {
        background-image: url(sliders/slider01.jpg)
    }

    25% {
        background-image: url(sliders/slider02.jpg);
    }

    50% {
        background-image: url(sliders/slider03.jpg);
    }

    75% {
        background-image: url(sliders/slider04.jpg);
    }

    100% {
        background-image: url(sliders/slider01.jpg)
    }
}