* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./../sliders/slider06-min.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.body-space {
    --light-font-color: rgba(255, 244, 230, 0.911);
    --lighter-font-color: rgba(250, 247, 243, 0.911);
    --dark-font-color: rgba(255, 223, 182, 0.911);
    --darker-font-color: rgba(246, 193, 124, 0.911);
    --default-bg-color: rgba(7, 10, 10, 0.575);
    --dark-bg-color: rgba(10, 10, 10, 0.76);
    --darker-bg-color: rgba(10, 10, 10, 0.863);
    --white-bg-color: rgba(218, 205, 205, 0.897);
    --light-bg-color: rgba(7, 10, 10, 0.322);
    --light-white: rgba(255, 255, 255, 0.739);
    --default-font: font-family: 'IM Fell French Canon SC', serif;
    background-color: var(--dark-bg-color);
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.modal {
    width: 50%;
    height: 40%;
    background-color: var(--darker-bg-color);
    position: absolute;
    top: 25%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-font-color);
    display: none;
}

.modal .message {
    margin-top: 10%;
}

.modal .btn-close {
    text-align: center;
}

.modal h2 {
    font-size: 2.5rem;
    font-weight: 100;
    font-style: italic;
    margin: 5px;
    text-align: center;
}

.modal button {
    margin: 40px 0px 0px 0px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 10px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;
    color: var(--light-font-color);
    margin: 20px 0px 20px 0px;
}

.contact .content h2 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--light-font-color);    
}

.contact .content p {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.2rem;
    color: var(--light-font-color);
}

.contact .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: var(--light-font-color);
}

.contact span {
    color: black;
}

.contact .container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact .container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact .container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background-color: var(--light-white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 50px;
    font-size: 25px;
    cursor: pointer;    
}

.contact .container .contactInfo .box .icon:hover {
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    from { 
        transform: rotate(0deg);
        background-color: #fff;
    }
    to { 
        transform: rotate(360deg);
        background-color: var(--dark-font-color);
    }
}

.contact .container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.contact .container .contactInfo .box .text h3 {
    font-weight: 500;
    color: var(--darker-font-color); 
}

.social-icons {
    text-align: center;
}

.social-icons li {
    font-size: 2rem;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: var(--light-white);
    border-radius: 20px;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;   
    text-align: center;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    background-color: transparent;
    font-family: var(--default-font);
}

.contactForm .inputBox input[type=number]::-webkit-inner-spin-button, 
.contactForm .inputBox input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #442f36;
    font-size: 15px;
    transform: translateY(-20px);
}

.contactForm .inputBox button {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 1350px) {

    .modal {
        display: none;
    }

    .modal h2 {
        font-size: 2.2rem;
    }
}

@media (max-width: 1200px) {
    .contact {
        padding: 0px 10px;
    }

    .modal {
        height: 30%;
        top: 25%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--light-font-color);
        display: none;
    }
    
    .modal h2 {
        font-size: 2rem;
        font-weight: 100;
        font-style: italic;
        margin: 5px;
    }
    
    .modal button {
        margin: 30px 0px 0px 0px;
        width: 100px;
        height: 50px;
        font-size: 20px;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
    }
}

@media (max-width: 1250px) {
    .modal {
        display: none;
    }

    .modal h2 {
        font-size: 2rem;
    }
}

@media (max-width: 1150px) {
    .modal {
        display: none;
    }

    .modal h2 {
        font-size: 1.7rem;
    }
}

@media (max-width: 900px) {

    .body-space {
        overflow: scroll;
    }

    .modal {
        width: 50%;
        height: 25%;
        display: none;
    }
    
    .modal h2 {
        font-size: 1.3rem;
    }
    
    .modal button {
        margin: 30px 0px 0px 0px;
        width: 80px;
        height: 40px;
        font-size: 15px;
    }

    .contact .content {
        margin: 10px 0px 0px 0px;
    }

    .contact {
        overflow: scroll;
    }

    .contact .container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .contactForm {
        width: 60%;
        padding: 30px;
    }

    .container {
        align-items: center;
    }

    .contactForm h2 {
        font-size: 25px;
        font-weight: 200;
    }

    .contactForm .inputBox span {
        font-size: 18px;
    }

    .contactForm .inputBox button {
        font-size: 18px;
    }

    .contact .container .contactInfo .box .icon {
        min-width: 40px;
        height: 40px;
    }

    .contact .container .contactInfo .box .icon i {
        font-size: 20px;
    }

    .contact .container .contactInfo .box .text {
        font-size: 18px;
    }

    .contact .container .contactInfo .box {        
        padding: 15px 0;        
    }

    .social-icons li {
        font-size: 1.5rem;
    }
}

@media (max-width: 750px) {
    
    .modal {
        width: 60%;
        height: 25%;
        display: none;
    }
    
    .modal h2 {
        font-size: 1.4rem;
    }
    
    .modal button {
        margin: 30px 0px 0px 0px;
        width: 70px;
        height: 40px;
        font-size: 15px;
    }
}

@media (max-width: 650px) {
    
    .modal {
        width: 60%;
        height: 20%;
        display: none;
    }
    
    .modal h2 {
        font-size: 1.2rem;
    }
    
    .modal button {
        margin: 20px 0px 0px 0px;
        width: 70px;
        height: 35px;
        font-size: 15px;
    }
}

@media (max-width: 550px) {

    .modal {
        width: 60%;
        height: 20%;
        display: none;
    }
    
    .modal h2 {
        font-size: 1rem;
    }
    
    .modal button {
        margin: 20px 0px 0px 0px;
        width: 60px;
        height: 30px;
        font-size: 15px;
    }

    .contact .content {
        margin: 10px 0px 0px 0px;
    }

    .contactForm {
        width: 90%;
        padding: 20px;
        margin-bottom: 30px;
    }

    .contactForm h2 {
        font-size: 20px;
    }

    .contactForm .inputBox span {
        font-size: 15px;
    }

    .contactForm .inputBox button {
        font-size: 15px;
    }

    .contact .container .contactInfo .box .icon i {
        font-size: 18px;
    }

    .contact .container .contactInfo .box .text {
        font-size: 15px;
    }

    .contact .container .contactInfo .box {        
        padding: 15px 0;        
    }

    .contact .content h2 {
        font-size: 2rem;
        font-weight: 500;
        color: var(--light-font-color);
    }

    .social-icons li {
        font-size: 1.3rem;
    }

    .contact .container .contactInfo {
        width: 90%;
    }

    .contactForm .inputBox {
        text-align: center;
    }
}

@media (max-width: 500px) {

    .modal {
        width: 70%;
        height: 20%;
        display: none;
    }
    
    .modal h2 {
        font-size: 1rem;
    }
    
    .modal button {
        margin: 10px 0px 0px 0px;
        width: 60px;
        height: 30px;
        font-size: 15px;
    }
}

@media (max-width: 400px) {

    .modal {
        width: 80%;
        height: 25%;
        display: none;
    }
    
    .modal h2 {
        font-size: 1rem;
    }
    
    .modal button {
        margin: 5px 0px 0px 0px;
        width: 60px;
        height: 30px;
        font-size: 15px;
    }
}

@media (max-width: 350px) {

    .modal {
        width: 90%;
        height: 25%;
        display: none;
    }
    
    .modal h2 {
        font-size: 1rem;
    }
    
    .modal button {
        margin: 5px 0px 0px 0px;
        width: 60px;
        height: 30px;
        font-size: 15px;
    }
}

@media (max-width: 300px) {

    .modal {
        width: 90%;
        height: 25%;
        display: none;
    }
    
    .modal h2 {
        font-size: 0.9rem;
    }

    .social-icons li {
        font-size: 1rem;
    }
    
    .modal button {
        margin: 5px 0px 0px 0px;
        width: 60px;
        height: 30px;
        font-size: 15px;
    }
}